.card {
    background-color: var(--main-neutral);
    border: .1rem solid var(--main-red);
    font-weight: bold;
    font-size: 8rem;
    border-radius: .25rem;
    aspect-ratio: 21/34;
    height: 32rem;
    user-select: none;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.02),
      rgba(0,0,0,0.02) 1px,
      transparent 1px,
      transparent 3px
    );
  opacity: 0.3;
  pointer-events: none;
}

.card_back {
  background-color: var(--main-colour);
}

.card_back > div {
  color: #C9A84C;
  transform: rotateY(180deg);
}


.hanafuda {
  aspect-ratio: 32 / 54;
  border-radius: .1rem;
  border-color: #1C1C1E;
  border-width : 1rem;
  color: #1C1C1E;
}

.card > div {
    user-select: none;
}

/* .card > div {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
} */