@import "tailwindcss";


body {
    background-color: aliceblue;
    color: rebeccapurple;
}


#main {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    height: 100vh;
}